{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row premium">
        <div class="row-title">
            Premium Servers
        </div>
        <div class="cards-wrapper row">
            {% for guild in guilds %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="server-card">
                        <div class="card-head premium">Premium</div>
                        <div class="card-content">
                            <div class="img">
                                <img src="{{guild.icon}}" alt="">
                            </div>
                            <div class="desc">
                                <div class="title">{{guild.name}}</div>
                                <div class="description">{{guild.description}}</div>
                            </div>
                        </div>
                        <div class="card-foot">
                            <a href="#">Info</a>
                            <a href="#">Join Server</a>
                        </div>
                    </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
